<br>
  <div class="row" style="text-align: center; color: #36495e">   
    <div class="col-md-12">
      <h1>Young Tutors has been renamed to GuruMe</h1>
      <h2>Please visit the url <a href ="http://www.gurume.co.uk">www.gurume.co.uk</a></h2>
    </div>
    <div class="col-md-12">
      <img src="https://dl.dropboxusercontent.com/s/tu8omps0kdwsqf8/brand.png" style="width:250px; margin-top:30px;">
    </div> 
  </div>
<br>
<br>
<div class="row">
  <div class="col-md-12">
    <img src="https://dl.dropboxusercontent.com/s/5tkcygp9c69ok7s/youngtutors.png" style="max-width:100%">
  </div>
</div>
